
.main-div{
    display:flex;
    
}
#operation-div{
    padding-left:20px ;
    float: left;
    width: 25%;
    background-color:rgb(247, 144, 104);
    font-weight: bold;
}
#results{
    float: right;
    width: 75%;
    padding: 10px;
    background-color: rgb(159, 200, 238);  
}

.entry-div-simple {
    padding: 10px;
    height: 50px;
    width: 100%;
    position: relative;
}

.label-term {
    
    float: left;
    width: 25%;
    color:black;
    
    font-weight: bold;
    
}
.label-def {
    width: 75%;
    float: right;
    
}
button{
    display: inline-block;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 20%;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background-color: darkgray;
    
}
button:hover{
    color:floralwhite;
    background-color:darkcyan ;
}
select{
    padding:5px 5px;
}
#tags-div{
    margin-top:50px;
}
h1{
    background-color: gainsboro;
    text-align: center;
}
